body {
    margin: 0;
    padding: 0;
    background-color: #1D1A21;
    overflow: initial;
}

.header {
    height: 6rem;
    background-color: #B0413A;
}

.header img {
    width: 20%;
    display: none;
}

.navLogo {
    margin-left: 5%;
}

.navBarScroll {
    z-index: 10;
    margin-top: -6rem;
    background-color: #880B03;
    width: 100%;
    height: 3rem;
}

.navLogoScroll {
    width: 5%;
}

.active {
    background-color: #A32B09;
    border-top-left-radius: 0.5rem;
    clip-path: polygon(0 0, 65% 0, 100% 100%, 0% 100%);
}

.navGrey {
    background-color: #323538;
    clip-path: polygon(0 0, 65% 0, 100% 100%, 35% 100%);
    margin-left: -6.2rem;
}

.basket {
    color: white;
    text-decoration: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 100%);
}

.basket a {
    color: white;
    text-decoration: none;
}

.navGrey img {
    width: 20%;
}

.navBar {
    background-color: #880B03;
    width: 100%;
    height: 3rem;
    position: initial;
}

.nav-item {
    width: 300px;
    font-size: 1.5rem;
}

.user a {
    color: white;
    text-decoration: none;
}

.user img {
    width: 50%;
    margin-top: 1rem;
}

.headImg {
    margin-top: -1rem;
    z-index: -10;
}

.bgControl {
    border: 1px solid white;
    margin-top: -5rem;
    z-index: 9;
}

#bgControl1 img {
    width: 100%;
}

#bgControl2 img {
    width: 100%;
}

#bgControl3 img {
    width: 100%;
}

.content {
    background-color: white;
    border-radius: 1rem;
    margin-top: -2rem;
}

.product {
    margin-top: 5rem;
}

.productTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    color: rgba(60, 61, 60, 0.26);
}

.content img {
    width: 50%;
}

.banner {
    background-color: beige;
    display: flex;
    justify-content: center;
    width: 110%;
}

.media {
    background-color: white;
    clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 100%);
    overflow: hidden;
}

.test img {
    clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 58%);
    margin-bottom: -5%;
}

.twitch img {
    width: 30%;
}

.youtube img {
    width: 50%;
    margin-right: 100rem;
}

.teste {
    width: 300px;
}

.paiement {
    margin-left: 8rem;
}

.paiement img {
    width: 50%;
}

.footer {
    color: white;
    background-color: #333;
    text-align: start;
    height: 30vh;
}

a {
    color: white;
    text-decoration: none;
}


/* Panier */

.show-cart li {
    display: flex;
}

.tableHead {
    color: red;
    font-weight: bolder;
}

.tableHead td {
    text-align: start;
    padding-left: 5rem;
    border-left: solid 1px #333;
}

.card {
    margin-bottom: 20px;
    margin-left: 1rem;
    cursor: pointer;
}

.card-img-top {
    width: 25%;
    align-self: center;
}

.card a {
    font-size: 1rem;
    align-self: center;
    width: 10rem;
    height: 2rem;
}

.modal-header {
    background-color: #A32B09;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
}


/* ----- Robin ------- */

.modal-body {
    margin: 0 1rem;
}

.modal-header {
    background-color: #B0413A;
    color: #fff;
}

.containerInscription {
    display: none;
}

@media only screen and (max-width: 600px) {
    .slideControl {
        display: none;
    }
    #navLogo {
        display: none;
    }
    .navbar-collapse {
        z-index: 10;
    }
    .user {
        width: 300px;
        height: 3rem;
        z-index: 10;
    }
    .header img {
        width: 20%;
        display: block;
    }
}

.dropdown-menu {
    background-color: #323538;
    z-index: 10;
}

.dropdown-menu li a {
    text-decoration: underline;
    color: #fff;
    margin-left: 10px;
}

.dropdown-header {
    color: #fff;
    font-weight: bold;
    margin: 10px 0;
}


/* tooltip */


/* ---- Odile début ---- */


/* ----- Odile fin ----- */


}